



.rules-container {
margin: 40px 0 0 40px;
}

.rules-text-container {
  // padding: 10px;
  // width: 20%;
  display: flex;
  flex-direction: column;
}


.rules-text {
  font-size: 13px;
  margin-top: 10px;
}

.fs-text {
  font-size: 13px;
  margin-top: 10px;
}

.rule-title {
  font-weight: bold;
  color: #017219;
}

.commands-table {
  // border: 1px solid #e2e2e2;
}

.td-cell {
  text-align: left;
  font-size: 13px;
  border: 1px solid #e2e2e2;
  padding: 3px 0 3px 2px;
}

.fa-caret-down, .fa-caret-up {
  color: #ff9000;
}
