
.rules-container {
margin: 50px 0 0 40px;

  a {
    color: #035127;
    &:hover {
      color: #037236;
    }
  }

}

.rules-text-container {
  display: flex;
  flex-direction: column;
}

.rules-text {
  font-size: 13px;
  margin-top: 10px;
}

.fs-text {
  font-size: 13px;
  margin-top: 10px;

  span {
    font-size: 13px;
  }
}

.rule-title {
  font-weight: bold;
  color: #017219;
}

.commands-table {
  td {
    text-align: left;
    font-size: 13px;
    border: 1px solid #e2e2e2;
    padding: 3px 0 3px 2px;
  }
}

.fa-caret-down, .fa-caret-up {
  color: #ff9000;
}

.level1 {
  padding-left: 3px;
}

.level2 {
  padding-left: 7px;
}

.level3 {
  padding-left: 22px;
}
